* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Arial, sans-serif;
    background-color: #fc8600;
}

.head {
    color: #00ffff;
    text-align: center;
    font-size: 60px;
}

#nexthead {
    color: black;
}

.headtwo {
    font-size: 40px;
}
.content {
    font-size: 20px;
}

.lists.button {
    font-size: 40px;
    background-color: aqua;
    margin: 8px 60px;
    padding: 40px 8px;
    border-radius: 12px;
}

.lists {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.mainphoto {
    display: flex;
    margin: auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em 8px;
    margin: -1em -8px;
}